<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue';
import EventListeners from './components/EventListeners.vue';
import FormBindings from './components/FormBindings.vue';
import ConditionalRenderring from './components/ConditionalRendering.vue'
import ListRendering from './components/ListRendering.vue';
</script>
<template>
  <EventListeners />
</template>